VG_LOGIN_URL=https://bonjaskyacademyhilversum.virtuagym.com
VG_EMAIL=
VG_PASSWORD=
VG_WEEK_QUERY=?event_type=2&coach=0&activity_id=0&member_id_filter=0&embedded=0&planner_type=7&show_personnel_schedule=0&in_app=0&single_club=0
VG_CLASS_NAME=Power and Conditioning
VG_CLASS_TIME=20:00 - 20:55
VG_TEST_MODE=0
